# Database (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.opsnjkvhjgvzhpkxttci.supabase.co:5432/postgres?schema=public"

# JWT Secret (generate a strong random string)
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"

# Next.js
NEXT_PUBLIC_APP_URL="https://chepseon-next-84z16acol-oliver4441s-projects.vercel.app"
